.label-stretch {
	min-width: 160px;
	max-width: 180px;
}

input[type=date] {
	font-size: 1rem;
	width: 50%;
}

.td label {
	padding-right: 10px;
}


.ui-button {
	border-radius: 0;
	border: 2px solid black;
}

.ui-button-text {
	background-image: linear-gradient(to right, #e30030, #351396);
}

.ui-c {
	color: white;
}

input, textarea{
	border: 2px solid black !important;
}
