.barra-cima {
	border-top: 2px solid black;
	min-height: 100%;
}

.cor-gradiente {
	background-image: linear-gradient(to right, #e30030, #351396);
}

.borda {
	outline: 2px solid black !important;
}

.wrapper {
	width: 98%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	outline: 2px solid black;
	background-color: #ffffff;
}

.dropdown-menu-lista {
	list-style-type: none;
}

nav p, h3 {
	margin: 0;
}
.dropdown-menu[data-bs-popper] {
    left: -25!important;
  
}
.dropdown-item {
	background-color: #e1e1e1!important;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
}

.dropdown-item:hover {
	background-color: #ffffff!important;
}
.ui-fileupload-simple .ui-button {
	overflow: hidden;
}

.vertical-nav a, .vertical-nav p {
	background-color: #e1e1e1;
	padding: 2px;
	margin: 10px;
}

.vertical-nav a:hover, .vertical-nav p:hover {
	background-color: #ffffff;
}

.sidebar-size {
	max-width: 250px;
}

.nav-responsiva[aria-expanded="true"] {
	margin: 0.75em; 
	border: 2px solid black;
	
}

.dropdown-menu .show {
	border: 2px solid black;
}

.botoes {
	border-radius: 8px;
	min-width: 120px;
	box-shadow: 5px 5px #c1c1c1;
	font-weight: 500;
}

.show {
	z-index: 9;
}
