.filtro-box {
	border: 2px solid black;
}

.filtro-box-header {
	outline: 2px solid black;
}

.ui-state-highlight {
	background-image: url() !important;
	background-color: #c1c1c1 !important;
}

.mensalidadeTable tbody .ui-chkbox-icon.ui-icon {
	background-color: darkred;
}



.acao-box {
	margin-top: 30px;
	margin-bottom: 50px;
}