.importante-box-header {
	background-image: linear-gradient(to right, crimson, indigo);
	outline: 2px solid black;
}
.importante-box {
	font-weight: bold;
	margin-top: 30px;
	border: 2px solid black;
	max-width: 800px;
}

.tabela-bg {
	background-color: #cccccc;
}