.importante-box-header {
	background-image: linear-gradient(to right, #e30030, #351396);
	outline: 2px solid black;
}

.importante-box {
	font-weight: bold;
	margin-top: 30px;
	border: 2px solid black;
	max-width: 800px;
}

.tabela-bg {
	background-color: #cccccc;
}

.ui-editable-column {
	cursor: text !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background-color: crimson !important;
	background-image: url();
}

/*
.ui-widget-content, .ui-datatable-even, .ui-datatable-odd {
	border: 1px solid black !important;
	border-bottom: 1px solid white !important;
	border-top: 1px solid white !important;
}

table {
	border-bottom: 2px solid black;
}
.ui-datatable thead th, 
.ui-datatable tbody td, 
.ui-datatable tfoot td,
.ui-datatable tfoot th {
	border-width: 0 !important;
}
*/